.dataTable {
  width: 100%;
  margin-top: 20px;

  .dataTables_wrapper .dataTables_filter {
    display: none;
  }

  .dataTables_wrapper input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: 14px;
    font-weight: normal;
    height: 32px;
    width: 250px;
    background-color: transparent;
    margin-bottom: 10px;
  }

  .dataTables_wrapper .dt-buttons{
    button {
      float: right;
      position: relative;
      top: -48px;
      margin-right: 15px;
      padding: 6px 12px;
      background: transparent;
      border-radius: 25px;
      border: 1px solid #333;
      color: #333;
      white-space: nowrap;
      font-size: 14px;
      line-height: 1.4;

      &:hover {
        background: #333;
        border: 1px solid #333;
        color: #fff;
      }
    }
  }

  .dataTables_wrapper select {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    height: 34px;
    margin: 0 10px;
  }

  .table-responsive {
    table-layout: fixed;
    width: 100%;

    .link {
      text-decoration: underline;
      color: #007bff;
      cursor: pointer;
    }

    .filter {
      width: 100%;
      height: 25px;
      margin-top: 5px;
      font-size: 12px;
      padding-left: 5px;
    }

    tr {
      background-color: transparent;
    }

    td, th {
      word-wrap: break-word;
    }

    .multiline-cell {
      text-align: center;

      small {
        display: block;
      }
    }
  }
}
