.org-usage-dashboard {
  overflow: hidden;

  .spinner-holder p {
      text-align: center;
  }

  .analytics-container, .nav.nav-tabs {
    margin-top: 40px;
  }

  .range-date-picker {
    margin-top: 20px;
  }
}
