body {
  overflow: hidden;
}

.org-usage-dashboard {
  overflow: hidden;

  .spinner-holder p {
      text-align: center;
  }

  .analytics-container, .tabs {
    margin-top: 40px;
  }

  .tabs {
    padding-left: 0px;

    li {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      background-color: rgb(234, 233, 236);
      color: rgb(120, 121, 147);
      margin-left: 10px;
      display: inline-block;
      cursor: pointer;
      user-select: none;
      border-radius: 100px;
      padding: 10px 16px;
      border-color: rgb(234, 233, 236);
    }

    li.active {
      background-color: rgb(71, 73, 116);
      color: rgb(255, 255, 255);
      border-color: transparent;
    }
  }

  .range-date-picker {
    margin-top: 20px;
  }
}
