.summary-cell {
  flex: 1;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  h2 {
    margin-top: 10px;
    font-size: 34px;
    color: #474974; 
  }

  small {
    display: block;
    font-size: 10px;
  }

  p {
    margin-top: 10px;
    padding: 5px;
    font-size: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
